---
layout: default
---

{% include features.html %}

{% include showcases.html %}

{% include testimonials.html %}

{% include faq.html %}

{% include team.html %}

{% include contact.html %}

<!--====== FOOTER PART START ======-->

<section class="footer-area footer-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="footer-logo text-center">
                    <a class="mt-30" href="index.html"><img src="assets/images/logo.svg" alt="Logo"></a>
                </div> <!-- footer logo -->
                <ul class="social text-center mt-60">
                    <li><a href="{{ site.data.info.links.facebook }}"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="{{ site.data.info.links.twitter }}"><i class="lni lni-twitter-original"></i></a></li>
                    <li><a href="{{ site.data.info.links.instagram }}"><i class="lni lni-instagram-original"></i></a></li>
                    <li><a href="{{ site.data.info.links.linkedin }}"><i class="lni lni-linkedin-original"></i></a></li>
                </ul> <!-- social -->
                <div class="footer-support text-center">
                    <!--<span class="number">+8801234567890</span>-->
                    <span class="mail">info@korge.org</span>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======-->

<!--====== PART START ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">

                </div>
            </div>
        </div>
    </section>
-->

<!--====== PART ENDS ======-->

