<!--====== SLIDER PART START ======-->

<section id="home" class="slider_area">

<div id="carouselThree" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for carousel_item in site.carousel %}
        <li data-target="#carouselThree" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% else %}{% endif %}"></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner">
        {% for carousel_item in site.carousel %}
        <div class="carousel-item {% if forloop.first %}active{% else %}{% endif %}" style="background-attachment: fixed;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slider-content">
                            <div class="d-md-none" style="position:relative;z-index:-1000;">
                                <div style="position:absolute;top:100px;">
                                    <img src="{{ carousel_item.image | absolute_url }}" alt="Hero" style="width: 400px;height:400px;filter: grayscale(50%);">
                                </div>
                            </div>
                            <h1 class="title">{{ carousel_item.title }}</h1>
                            <p class="text">{{ carousel_item.content }}</p>
                            <div style="opacity:0.75;">
                                <ul class="slider-btn rounded-buttons">
                                    {% for button in carousel_item.buttons %}
                                    <li><a class="main-btn {% if forloop.first %}rounded-one{% else %}rounded-two{% endif %}" href="{{ button.link }}" target="_blank">{{ button.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% for ex in carousel_item.extra %}
                                {{ ex }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="slider-image-box d-none d-md-flex align-items-end">
                <div class="slider-image">
                    <img src="{{ carousel_item.image | absolute_url }}" alt="Hero" style="width: 400px;height:400px; {{ carousel_item.image_style }}">
                </div> <!-- slider-imgae -->
            </div> <!-- slider-imgae box -->
        </div> <!-- carousel-item -->
        {% endfor %}
    </div>

    {% assign carousel_size = site.carousel | size %}
    {% if carousel_size >= 2 %}
    <a class="carousel-control-prev" href="#carouselThree" role="button" data-slide="prev">
        <i class="lni lni-arrow-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselThree" role="button" data-slide="next">
        <i class="lni lni-arrow-right"></i>
    </a>
    {% endif %}
</div>

</section>

<!--====== SLIDER PART ENDS ======-->
<script type="text/javascript">
	const versionVersion = "V4"
	const versionTimeLocalStorageKey = `versionCacheTime${versionVersion}`;
	const versionLocalStorageKey = `version${versionVersion}`;

	function updateVersion() {
		let version = (localStorage.getItem(versionLocalStorageKey) || '').replace(/^v/, '');
		const lastKnownVersion = 'v3.0.0'
		let rversion = (version === 'vundefined' || version === 'undefined' || version === '') ? lastKnownVersion : (version || lastKnownVersion);
		rversion = `${rversion}`.replace(/^v/, '');
		document.getElementById('version').innerText = `v${rversion}`;
	}

	updateVersion();

	async function fetchJson(url) {
		let data = await fetch(url);
		let json = await data.json();
		return json;
	}

	async function doDynamic() {
		let versionCacheTime = localStorage.getItem(versionTimeLocalStorageKey);
		if (!versionCacheTime || ((Date.now() - versionCacheTime) > 24 * 3600 * 1000)) {

			let data = await fetchJson("https://api.github.com/repos/korlibs/korge/releases/latest");
			console.log(data);
			localStorage.setItem(versionTimeLocalStorageKey, Date.now());
			localStorage.setItem(versionLocalStorageKey, 'v' + data.tag_name.replace(/^(release-|v)/, ''));
			updateVersion();
		}
	}
	doDynamic();
</script>
