
<!--====== ABOUT PART START ======-->

<section id="faq" class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="faq-content mt-45">
                    <div class="about-title">
                        <h6 class="sub-title">A Little More About Us</h6>
                        <h4 class="title">Frequently Asked Questions <br> About Our Site</h4>
                    </div> <!-- faq title -->
                    <div class="about-accordion">
                        <div class="accordion" id="accordionExample">
                            {% for faq in site.faq %}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <a href="#" class="{% if forloop.first %}{% else %}collapsed{% endif %}" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">
                                        {{ faq.title }}
                                    </a>
                                </div>

                                <div id="collapse{{ forloop.index }}" class="collapse {% if forloop.first %}show{% else %}{% endif %}" aria-labelledby="heading{{ forloop.index }}" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {{ faq.content | markdown_to_html }}
                                    </div>
                                </div>
                            </div> <!-- card -->
                            {% endfor %}
                        </div>
                    </div> <!-- faq accordion -->
                </div> <!-- faq content -->
            </div>
            <div class="col-lg-7">
                <div class="about-image mt-50">
                    <img src="assets/images/about.jpg" alt="about">
                </div> <!-- faq image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->
