
<!--====== TEAM START ======-->

<section id="team" class="team-area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-30">
                    <h3 class="title">Meet The Team</h3>
                    <p class="text">
                        KorGE is developed by a few enthusiast people around the world!
                    </p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            {% for person in site.team %}
            <div class="col-lg-4 col-sm-6">
                <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="team-image">
                        <img src="{{ person.photo | absolute_url }}" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="team-social">
                            <ul class="social">
                                {% if person.links.facebook %}<li><a href="{{ person.links.facebook }}"><i class="lni lni-facebook-filled"></i></a></li>{% endif %}
                                {% if person.links.twitter %}<li><a href="{{ person.links.twitter }}"><i class="lni lni-twitter-original"></i></a></li>{% endif %}
                                {% if person.links.linkedin %}<li><a href="{{ person.links.linkedin }}"><i class="lni lni-linkedin-original"></i></a></li>{% endif %}
                                {% if person.links.instagram %}<li><a href="{{ person.links.instagram }}"><i class="lni lni-instagram"></i></a></li>{% endif %}
                                {% if person.links.github %}<li><a href="{{ person.links.github }}"><i class="lni lni-github"></i></a></li>{% endif %}
                            </ul>
                        </div>
                        <h4 class="team-name"><a href="#">{{ person.name }}</a></h4>
                        <span class="sub-title">{{ person.title }}</span>
                    </div>
                </div> <!-- single team -->
            </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TEAM  ENDS ======-->
