<!doctype html>
<html class="no-js" lang="en">

<head>

<meta charset="utf-8">

<!--====== Title ======-->
<title>Smash - Bootstrap Business Template</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--====== Favicon Icon ======-->
<link rel="shortcut icon" href="{{ 'assets/images/favicon.png' | absolute_url }}" type="image/png">

<!--====== Magnific Popup CSS ======-->
<link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css' | absolute_url }}">

<!--====== Slick CSS ======-->
<link rel="stylesheet" href="{{ 'assets/css/slick.css' | absolute_url }}">

<!--====== Line Icons CSS ======-->
<link rel="stylesheet" href="{{ 'assets/css/LineIcons.css' | absolute_url }}">

<!--====== Bootstrap CSS ======-->
<link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | absolute_url }}">

<!--====== Default CSS ======-->
<link rel="stylesheet" href="{{ 'assets/css/default.css' | absolute_url }}">

<!--====== Style CSS ======-->
<link rel="stylesheet" href="{{ 'assets/css/style.css' | absolute_url }}">

</head>

<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{% include navbar.html %}

{{ content }}

{% include footer.html %}

<!--====== Jquery js ======-->
<script src="{{ 'assets/js/vendor/jquery-1.12.4.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/vendor/modernizr-3.7.1.min.js' | absolute_url }}"></script>

<!--====== Bootstrap js ======-->
<script src="{{ 'assets/js/popper.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/bootstrap.min.js' | absolute_url }}"></script>

<!--====== Slick js ======-->
<script src="{{ 'assets/js/slick.min.js' | absolute_url }}"></script>

<!--====== Magnific Popup js ======-->
<script src="{{ 'assets/js/jquery.magnific-popup.min.js' | absolute_url }}"></script>

<!--====== Ajax Contact js ======-->
<script src="{{ 'assets/js/ajax-contact.js' | absolute_url }}"></script>

<!--====== Isotope js ======-->
<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/isotope.pkgd.min.js' | absolute_url }}"></script>

<!--====== Scrolling Nav js ======-->
<script src="{{ 'assets/js/jquery.easing.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/scrolling-nav.js' | absolute_url }}"></script>

<!--====== Main js ======-->
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>

</body>

</html>
